.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.container {
  width: 880px;
  margin: 0 auto;
}

.line {
  clear: both;
  width: 880px;
  margin-left: 0px;
  color: #eeeeee;
}
