@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto.woff);
}

@font-face {
  font-family: Roboto2;
  src: url(../fonts/roboto.woff2);
}

@font-face {
  font-family: RobotoMedium;
  src: url(../fonts/robotomedium.woff);
}

@font-face {
  font-family: RobotoMedium2;
  src: url(../fonts/robotomedium.woff2);
}
