.partners {
  padding-left: 15px;
}

.partners:last-child {
  margin-right: 0px;
}

.partners__item-1 {
  float: left;
  margin-top: 56px;
  margin-right: 120px;
  opacity: 0.2;
}

.partners__item-2 {
  float: left;
  margin-right: 120px;
  margin-top: 46px;
  opacity: 0.2;
}

.partners__item-3 {
  float: left;
  margin-top: 36px;
  margin-bottom: 35px;
  opacity: 0.2;
}

.partners__item-1:hover,
.partners__item-2:hover,
.partners__item-3:hover {
  opacity: 1;
}
